.Welcome
{
  text-align: center;
  font-family: cursive;
}
#Background
{
  font-family: monospace;
  font-size: 50;
  text-align: center;
}
#Image
{
  width: 450px;
  height: 450px;
  float: right;
}
.ground
{
  font-size: 23;
}
